<nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <a class="navbar-brand" href="/home">Incident Reporting</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/report" class="nav-link">Melden</a>
                </li>
                <li class="nav-item"><a href="/marketplace" class="nav-link">Marketplace</a>
                </li>
                <li class="nav-item"><a href="/view" class="nav-link">Anzeigen</a>
                </li>
                <li class="nav-item"><a href="/orders" class="nav-link">Bestellungen</a>
                </li>
                <li class="nav-item"><a href="/transfer" class="nav-link">Überweisung</a>
                </li>
                <li class="nav-item"><a href="/blame" class="nav-link">Verhalten melden</a>
                </li>
                <li class="nav-item"><a href="/mypage" class="nav-link">Mein Account</a>
                </li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>