.navbar {
    margin-bottom: 0;
}

body {
    background: #020A1B;
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #ffffff;
}

td, th {
    padding: 5px;
    white-space:nowrap;
    padding-right: 30px;
}

.neat-td {
    padding: 0px;
    white-space:normal;
    padding-right: 0px;
}

.jumbotron {
    background: #0048CD;
    color: white;
    text-align: center;
}

.jumbotron p {
    color: white;
    font-size: 26px;
}

.btn-primary {
    color: #fff;
    text-color: #000000;
    border-color: white;
    margin-bottom: 5px;
}

.label-primary {
    background: #0048CD;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.label-secondary {
    background: white;
    color: #0048CD;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.label-ok {
    background: #008000;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.label-attention {
    background: #FFD700;
    color: #020A1B;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.label-danger {
    background: #DC143C;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

img,
video,
audio {
    margin-top: 20px;
    max-width: 80%;
}

div.caption: {
    float: left;
    clear: both;
}